@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import '@reach/dialog/styles.css';

html,
body,
#__next {
  @apply font-default min-h-screen w-full flex flex-col;
}

#__next {
  @apply bg-darked-900;
  // @apply bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  @apply font-head;
}

*,
*::after,
*::before {
  @apply box-border m-0 outline-none;
}

*:hover,
*:focus,
button:focus {
  @apply outline-none;
}
